* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.browse {
    width: 87px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
   background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    text-align: center;
    line-height: 38px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__cart {
    margin-right: 26px;
}

.button {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px; 
    background-color: #f16d7f;
    height: 38px;
    padding-left: 19px;
    padding-right: 19px;
    line-height: 38px;
}

input [type="text"] {
    width: 280px;
    height: 38px;
}

.lupa {
    display: flex;
    align-items: center;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    height: 100px;
    background-color: #ffffff;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
}

.promo-content {
    background-image: url(img/brand_back.jpg);
    height: 100%;
    background-position: 0 -51px;
}

.promo__content {
    margin-top: 223px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.promo__big {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 19px;
}

.promo__mini {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
}

.pink {
    color: #f16d7f;
}

.stock {
    height: 1021px;
}

.clothing-stock {
    display: flex;
}

.stock__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.stock__deal {
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    position: absolute;
    margin-bottom: 580px;
}

.deal {
    width: 136px;
    color: #222222;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-left: 19px;
    margin-top: 16px;
}

.men {
    color: #f16d7f;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-left: 19px;
}

.stock__trendy {
    width: 225px;
    height: 82px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 540px;
}

.trendy {
    color: #222222;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-top: 16px;
    margin-left: 18px;
}

.accesories {
    color: #f16d7f;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-left: 18px;
}

.stock__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.man {
    width: 560px;
    height: 542px;
    padding-top: 98px;
}

.money {
    width: 560px;
    height: 261px;
    padding-top: 20px;
}

.woman {
    width: 560px;
    height: 261px;
    padding-left: 20px;
    padding-top: 98px;
}

.kids {
    width: 560px;
    height: 542px;
    padding-left: 20px;
    padding-top: 16px;
}

.stock__offer {
    width: 162px;
    height: 82px;
    background-color: #ffffff;
    position: absolute;
    margin-bottom: 580px;
}

.offer {
    color: #222222;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-top: 16px;
    margin-left: 28px;
}

.women_discount {
    color: #f16d7f;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-left: 28px;
}

.stock__new {
    width: 180px;
    height: 82px;
    background-color: #ffffff;
    position: absolute;
   
}

.arrivals {
    color: #222222;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-top: 16px;
    margin-left: 28px;
}

.for_kids {
    color: #f16d7f;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    margin-left: 28px;
}

.item {
    height: 23px;
    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;
    text-align: center;
}

.shop {
    height: 12px;
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
    text-align: center;
}

.mango {
    height: 780px;
    margin-top: 59px;
}

.mango-shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mango_people {
    margin-top: 20px;
    height: 11px;
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.price {
    margin-top: 17px;
    height: 15px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.layer_6 {
    margin-top: 60px;
}

.layer_7 {
    margin-top: 60px;
}

.layer_8 {
    margin-top: 60px;
}

.layer_9 {
    margin-top: 60px;
}

.layer_4:hover{
    
}

.browse {
    margin: 0 auto;
}

.button_browse {
    text-align: center;
    width: 212px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px; 
    background-color: #f16d7f;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 40px;
}

.footer {
    background-color: #e6e6e6;
}